doctype html
html(ng-app="Runner", lang="en")
  head
    title Chatio
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="robots", content="noindex, nofollow")
    meta(name="viewport" content="width=device-width")
    meta(name='description', content='Apicatus is a tool designed to mock, test, analyze and monitor APIs')
    meta(name='author', content='Apicatus')
    link(rel='icon', type='image/png', href='images/logo.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch-icon-72-precomposed.png')

    // Bootstrap
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    // FontAwesome
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    // Main Css File
    link(rel="stylesheet/less", type="text/css", href="less/chatio.less")
    // Font
    link(rel="stylesheet/less", type="text/css", href="//fonts.googleapis.com/css?family=Open+Sans")

  body(ng-controller="MainCtrl as main")
    nav(role="navigation", style="display:none").navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a(ui-sref="home").navbar-brand
            img(alt="Brand", src="images/logo.svg", width="20", height="20")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='#', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-toggle
                | {{user.email}}
                span.fa.fa-fw.fa-angle-down
              ul(role='menu').dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#')
                    i.fa.fa-fw.fa-power-off
                    | Logout


    div(ui-view="main").container-fluid

    // Socket.ico
    script(src="/socket.io/socket.io.js")
    // jQuery
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    // jQuery-ui
    script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    // lodash
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js")
    // angular
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js")
    // ui-bootstrap
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js")
    // ui-utils
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js")
    // ng-animate
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-animate.min.js")
    // ui-router
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    // restangular
    script(src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js")
    // Angular Local Storage
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js")
    // Angular Cookies
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js")
    // Less
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js")

    script(src="js/ngSocket.js")
    script(src="js/ngAuth.js")
    script(src="js/main.js")

    // login
    script(type="text/ng-template" id="login.html")
      div.row
        div.col-lg-12
          div.page-header
            h4
              i.fa.fa-fw.fa-home
              |&nbsp;Login
      div.row.login-form
        div.col-md-12
          alert(ng-repeat='alert in login.alerts', type='{{login.alert.type}}', close='login.closeAlert($index)') {{alert.msg}}
        div.col-md-12
          div.panel.panel-default
            div.panel-body
              form.form-horizontal(name='loginForm', role='form', ng-submit='login.submit()')
                div.form-group
                  div.col-sm-12
                    div.input-group
                      span.input-group-addon
                        i.fa.fa-envelope
                      input.form-control(type='text', ng-model='login.username', placeholder='Email', required='', autofocus='')
                div.form-group
                  div.col-sm-12
                    div.input-group
                      span.input-group-addon
                        i.fa.fa-unlock
                      input.form-control(type='password', ng-model='login.password', required='', placeholder='Password')
                div.form-group
                  div.col-sm-6
                    button.btn.btn-primary(type='submit', ng-disabled='login.processing || !loginForm.$valid')
                      i.fa.fa-fw.fa-spinner.fa-spin(ng-show='login.processing')
                      | Sign In
                  div.col-sm-6
                    a.btn.btn-default.pull-right(ui-sref='register')
                      i.fa.fa-fw.fa-user
                      | Sign up
            div.panel-footer Version 1

    // Sign up
    script(type="text/ng-template" id="register.html")
      div.row
        div.col-lg-12
          div.page-header
            h4
              i.fa.fa-fw.fa-home
              |&nbsp;Sign up
      div.row.signup-form
        div.col-md-12
          alert(ng-repeat='alert in signup.alerts', type='{{signup.alert.type}}', close='signup.closeAlert($index)') {{alert.msg}}
        div.col-md-12
          div.panel.panel-default
            div.panel-body
              form.form-horizontal(name='signupForm', role='form', ng-submit='signup.submit()')
                div.form-group
                  div.col-sm-12
                    div.input-group
                      span.input-group-addon
                        i.fa.fa-user
                      input.form-control(type='text', ng-model='signup.username', placeholder='Username', required='', autofocus='')
                div.form-group
                  div.col-sm-12
                    div.input-group
                      span.input-group-addon
                        i.fa.fa-envelope
                      input.form-control(type='email', ng-model='signup.email', placeholder='Email', required='', autofocus='')
                div.form-group
                  div.col-sm-12
                    div.input-group
                      span.input-group-addon
                        i.fa.fa-unlock
                      input.form-control(type='password', ng-model='signup.password', required='', placeholder='Password')
                div.form-group
                  div.col-sm-6
                    button.btn.btn-primary(type='submit', ng-disabled='signup.processing || !signupForm.$valid')
                      i.fa.fa-fw.fa-spinner.fa-spin(ng-show='signup.processing')
                      | Sign up
                  div.col-sm-6
                    a.btn.btn-default.pull-right(ui-sref='login')
                      i.fa.fa-fw.fa-user
                      | Login
            div.panel-footer Version 1

    // Home
    script(type="text/ng-template" id="home.html")
      div.row
        div.col-lg-12
          div.page-header
            h4
              i.fa.fa-fw.fa-home
              |&nbsp;Home

      div.row
        div.col-lg-12
          a.btn.btn-default(ui-sref="chat")
            i.fa.fa-fw.fa-github
            | Chat !

    // Chat
    script(type="text/ng-template" id="chatx.html")
      div.row
        div.col-lg-12
          div.page-header
            h4
              i.fa.fa-fw.fa-home
              |&nbsp;Chat
      div.row
        div.col-md-3
          ul.list-group
            li.list-group-item.active Available rooms
              span.badge {{serverRooms.length}}
            li.list-group-item(ng-repeat="room in serverRooms")
              a(href="", ng-click="join(room)")
                i.fa.fa-fw(ng-class="room.isPrivate ? 'fa-lock':'fa-unlock'")
                |{{room.name}}
            li.list-group-item
              a(href="", ng-click="addRoom()")
                  i.fa.fa-fw.fa-plus
                  | Add Room
          ul.list-group
            li.list-group-item.active List of users
              span.badge {{serverUsers.length}}
            li.list-group-item(ng-repeat="user in serverUsers")
              a(href="", ng-click="privateChat(user)") {{user.username}}
        div.col-md-9
          div.row
            div.col-md-12
              tabset.chat-rooms
                tab(ng-repeat="room in activeRooms", active="room.isActive", select="activateRoom(room)")
                  tab-heading
                    span(ng-if="room.notifications > 0").label.label-notifications.label-sm {{room.notifications}}
                    | {{room.name}}
                    a.leave(ng-click="leave(room)", ng-if="room.isActive && room.name != 'console'")
                      i.fa.fa-fw.fa-times
                  div.panel-chat-room
                    div.row
                      div.col-xs-10.panel-messages
                        ul.messages(id="messages")
                          li.message(ng-repeat="message in room.messages", id="{{message.id}}", ng-class="message.type")
                            div(ng-if="message.type != 'image'")
                              span.author(ng-if="message.user.username") {{message.user.username}}:&nbsp;
                              span.content {{message.data}}
                            div(ng-if="message.type == 'image'")
                              span.author(ng-if="message.user.username") {{message.user.username}}:
                              img.image(ng-src='{{message.data}}')
                      div.col-xs-2.users
                        ul.user-list
                          li(ng-repeat="user in room.users")
                            i.fa.fa-user
                            |&nbsp;{{user}}
                          li(ng-if="room.canInvite")
                            a(href="", ng-click="inviteUser(room)")
                              i.fa.fa-user-plus
                              |&nbsp;Invite
                button.btn.btn-sm.btn-default.pull-right(type="button", ng-click="addRoom()")
                  i.fa.fa-fw.fa-plus
                  | Add Room
          div.row
            div.col-md-10
              div.input-group
                input.form-control(type='text', ng-model="message", ng-enter="send()")
                div.input-group-btn
                  button.btn.btn-primary(type='button', ng-click="send()") Send

    script(type="text/ng-template" id="chat.html")
      .window-wrapper
        .window-title
          .title
            span ChatIo
          .expand
            i.fa.fa-expand
        .window-area
          .conversation-list
            ul
              li(ng-repeat="room in serverRooms")
                a(href="", ng-click="join(room)")
                  i.fa.fa-fw(ng-class="room.isPrivate ? 'fa-lock offline':'fa-unlock online'")
                  |{{room.name}}
              li
                a(href="", ng-click="addRoom()")
                  i.fa.fa-fw.fa-plus
                  | Add Room
            .btn-group(dropdown='', is-open='status.isopen')
              button.btn.btn-primary.dropdown-toggle(type='button', dropdown-toggle='', ng-disabled='disabled')
                | Button dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
          .chat-area
            tabset.active-chat-rooms
              tab(ng-repeat="room in activeRooms", active="room.isActive", select="activateRoom(room)")
                tab-heading
                  span(ng-if="room.notifications > 0").label.label-notifications.label-sm {{room.notifications}}
                  | {{room.name}}
                  a.leave(ng-click="leave(room)", ng-if="room.isActive && room.name != 'console'")
                    i.fa.fa-fw.fa-times
                .chat-list
                  ul.messages(id="messages")
                    li(ng-repeat="message in room.messages", id="{{message.id}}", ng-class="[message.type, {'me': message.user.username == user.username}]")
                      div(ng-if="message.type != 'image'")
                        span.name(ng-if="message.user.username") {{message.user.username}}:&nbsp;
                        span.message {{message.data}}
                      div(ng-if="message.type == 'image'")
                        span.author(ng-if="message.user.username") {{message.user.username}}:
                        img.image(ng-src='{{message.data}}')
            .input-area
              .input-wrapper
                input(type='text', value='')
                i.fa.fa-smile-o
                i.fa.fa-paperclip
              input.send-btn(type='button', value='Submit')
          .right-tabs
            tabset
              tab
                tab-heading
                  i.fa.fa-users
                h5.sidebar-heading In this room
                ul.member-list
                  li(ng-repeat="user in activeRoom.users")
                    span.status.online
                      i.fa.fa-circle-o
                    |{{user}}
                  li(ng-if="activeRoom.canInvite")
                    a(href="", ng-click="inviteUser(activeRoom)")
                      i.fa.fa-user-plus
                      |&nbsp;Invite
                h5.sidebar-heading Online users
                ul.member-list
                  li(ng-repeat="user in serverUsers")
                    span.status.online
                      i.fa.fa-circle-o
                    |{{user.username}}
              tab
                tab-heading
                  i.fa.fa-paperclip
                {{activeRoom.canInvite|json}}
              tab
                tab-heading
                  i.fa.fa-cog

    ///////////////////////////////////////////////////////////////////////////
    // Modals                                                                //
    ///////////////////////////////////////////////////////////////////////////
    // Add Room
    script(type="text/ng-template" id="createRomm.html")
      form.form-horizontal(name='roomForm', role='form', ng-model="room", ng-submit='submit(room)')
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()")
          h4.modal-title Add chat room
        div.modal-body
          div.form-group
            div.col-sm-12
              div.input-group
                span.input-group-addon
                  i.fa.fa-edit
                input.form-control(type='text', ng-model='room.name', placeholder='Name', ng-required="true", required='', autofocus='')
          div.checkbox
            label
              input(type='checkbox', ng-model='room.isPrivate')
              |Is private ?
        div.modal-footer
          button(type="button", ng-click="cancel()").btn.btn-danger Or cancel
          button(type="submit", ng-disabled='!roomForm.$valid').btn.btn-success.pull-right Add

    // Invite User
    script(type="text/ng-template" id="invite.html")
      form.form-horizontal(name='inviteForm', role='form', ng-submit='submit(username)')
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()")
          h4.modal-title Invite
        div.modal-body
          div.form-group
            div.col-sm-12
              div.input-group
                span.input-group-addon
                  i.fa.fa-edit
                input.form-control(type='text', ng-model='username', placeholder='Name', ng-required="true", required='', autofocus='', typeahead="name as user.username for user in users | filter:{username:$viewValue} | limitTo:8", typeahead-on-select="select($item, $model, $label)")
        div.modal-footer
          button(type="button", ng-click="cancel()").btn.btn-danger Or cancel
          button(type="submit", ng-disabled='!inviteForm.$valid').btn.btn-success.pull-right Invite

