doctype html
html(ng-app="Runner", lang="en")
  head
    title API Runner
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="robots", content="noindex, nofollow")
    meta(name="viewport" content="width=device-width")
    meta(name='description', content='Apicatus is a tool designed to mock, test, analyze and monitor APIs')
    meta(name='author', content='Apicatus')
    link(rel='icon', type='image/png', href='images/logo.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch-icon-72-precomposed.png')

    // Bootstrap
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    // FontAwesome
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    // Main Css File
    link(rel="stylesheet/less", type="text/css", href="less/chatio.less")

    // Socket.ico
    script(src="http://localhost:8080/socket.io/socket.io.js")
    // jQuery
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    // jQuery-ui
    script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    // lodash
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js")
    // angular
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js")
    // ui-bootstrap
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js")
    // ui-utils
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js")
    // ng-animate
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-animate.min.js")
    // ui-router
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    // restangular
    script(src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js")
    // Angular Local Storage
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js")
    // Angular Cookies
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js")
    // Less
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js")

    script(src="js/ngSocket.js")
    script(src="js/ngAuth.js")
    script(src="js/main.js")

  body(ng-controller="MainCtrl as main")
    nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a(ui-sref="home").navbar-brand
            img(alt="Brand", src="images/logo.svg", width="20", height="20")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='#', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-toggle
                | {{user.email}}
                span.fa.fa-fw.fa-angle-down
              ul(role='menu').dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#')
                    i.fa.fa-fw.fa-power-off
                    | Logout
    div(ui-view="main").container-fluid

  // login
  script(type="text/ng-template" id="login.html")
    div.row
      div.col-lg-12
        div.page-header
          h4
            i.fa.fa-fw.fa-home
            |&nbsp;Login
    div.row.login-form
      div.col-md-12
        alert(ng-repeat='alert in login.alerts', type='{{login.alert.type}}', close='login.closeAlert($index)') {{alert.msg}}
      div.col-md-12
        div.panel.panel-default
          div.panel-body
            form.form-horizontal(name='loginForm', role='form', ng-submit='login.submit()')
              div.form-group
                div.col-sm-12
                  div.input-group
                    span.input-group-addon
                      i.fa.fa-envelope
                    input.form-control(type='text', ng-model='login.username', placeholder='Email', required='', autofocus='')
              div.form-group
                div.col-sm-12
                  div.input-group
                    span.input-group-addon
                      i.fa.fa-unlock
                    input.form-control(type='password', ng-model='login.password', required='', placeholder='Password')
              div.form-group
                div.col-sm-6
                  button.btn.btn-primary(type='submit', ng-disabled='login.processing || !loginForm.$valid')
                    i.fa.fa-fw.fa-spinner.fa-spin(ng-show='login.processing')
                    | Sign In
                div.col-sm-6
                  a.btn.btn-default.pull-right(href='/auth/github')
                    i.fa.fa-fw.fa-github
                    | Login with GitHub
              //a(ui-sref='main.user.forgot') Forgot ?
          div.panel-footer Version 1

  // Home
  script(type="text/ng-template" id="home.html")
    div.row
      div.col-lg-12
        div.page-header
          h4
            i.fa.fa-fw.fa-home
            |&nbsp;Home
    div.row
      div.col-lg-12
        a.btn.btn-default(ui-sref="chat")
          i.fa.fa-fw.fa-github
          | Chat !

  // Chat
  script(type="text/ng-template" id="chat.html")
    div.row
      div.col-lg-12
        div.page-header
          h4
            i.fa.fa-fw.fa-home
            |&nbsp;Chat
    div.row
      div.col-md-3
        ul.list-group
          li.list-group-item.active Available rooms
            span.badge {{rooms.length}}
          li.list-group-item(ng-repeat="room in serverRooms")
            a(href="", ng-click="join(room)")
              |{{room.name}}
        ul.list-group
          li.list-group-item.active List of users
            span.badge {{users.length}}
          li.list-group-item(ng-repeat="user in users") {{user.name}}
      div.col-md-9
        div.row
          div.col-md-12
            tabset.chat-rooms
              tab(ng-repeat="room in activeRooms", active="room.isActive", select="activateRoom(room)")
                tab-heading
                  span(ng-if="room.notifications > 0").label.label-notifications.label-sm {{room.notifications}}
                  | {{room.name}}
                  i.fa.fa-fw.fa-times(ng-click="leave(room)")
                div.panel-messages
                  ul.messages(id="messages")
                    li.message(ng-repeat="message in room.messages", id="{{message.id}}", ng-class="message.type") {{message.user.username}}: {{message.data}}
              tab(select="addRom()")
                tab-heading
                  i.fa.fa-fw.fa-plus
                  | Add
        div.row
          div.col-md-12
            div.input-group
              input.form-control(type='text', ng-model="message")
              div.input-group-btn
                button.btn.btn-default(type='button', ng-click="send()") Send
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu.dropdown-menu-right
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link

    div.row
