@brand-primary: #49c5b1;

body {
    margin-top: 50px;
}

.chat-rooms {
    margin-bottom: 15px;
    .label-notifications {
        font-weight: normal;
        font-size: 0.6em;
        background-color: #d9534f;
        margin-right: 5px;
    }
}

.panel-messages {
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 0;
    .message {
        padding: 2px;
        margin: 0px 5px;
        &.notifycation {
            border: 1px solid #efefef;
            background-color: #fafafa;
            color: gray;
        }
    }
}
