@brand-primary: #49c5b1;

body {
    margin-top: 50px;
}

.chat-rooms {
    margin-bottom: 15px;
    .label-notifications {
        font-weight: normal;
        font-size: 0.6em;
        background-color: #d9534f;
        margin-right: 5px;
    }
    .leave {
        cursor: pointer;
        color: gray;
        &:hover {
            color: red;
        }
        &:active {
            color: darkred;
        }
    }
}

.panel-chat-room {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    .panel-messages {
        padding: 10px 20px;
        min-height: 250px;
        max-height: 250px;
        border-right: 1px solid lightgray;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
    .user-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
}

.messages {
    list-style: none;
    padding: 0;
    margin: 0;
    .message {
        padding: 2px;
        margin: 1px 5px;
        &.notifycation {
            border: 1px solid #efefef;
            background-color: #fafafa;
            color: gray;
        }
        .author {
            color: gray;
            font-weight: bold;
        }
        .image {
            display: block;
            background-color: whitesmoke;
            padding: 10px;
            border: 1px solid lightgray;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
